
<div id="game-wrapper" class="game-body">
  <div class="trophies-nav">Trophies</div>
  <div class="game-nav">Game</div>

  <!-- This is the game container -->
  <div class="game-container">
    <div class="instructions">Touch ball to begin.</div>
    <div class="score">
      Points: <span> 0 </span>
    </div>
    <div class="goal">
      Goal: <span> 1 </span>
    </div>
    <div id="ball"></div>
  </div>

  <!-- This is the trophies container -->
  <!-- This is hidden on page load  -->
  <div class="trophies-container">
    <div class="all-trophies-unlocked"> All trophies unlocked </div>
    <div class="empty-trophies">
      Looks like you do not have any trophies now. <br>
      Try hitting your goal first.
    </div>
    <% @trophies.each do |t| %>
    <div class="card">
      <div class="front">
        <a><img src=<%=t.src%> alt=<%=t.alt%>></a>
      </div>
      <div class="back">
        <%=t.description%>
      </div>
    </div>
    <% end %>
  </div>
</div>
