
<div class="game">
  <div class="trophies-nav">Trophies</div>
  <div class="game-nav">Game</div>
  <div class="instructions">Touch ball to begin.</div>
  <div class="score">
    Points: <span> 0 </span>
  </div>
  <div class="goal">
    Goal: <span> 1 </span>
  </div>
  <div id="ball"></div>
</div>
